*{ margin: 0; box-sizing: border-box; }
html{ scroll-behavior: smooth; }
body{
    width: 100%;
    height: 100vh;
    background: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1,h2,h3,h4,h5,h6,p,a,span,label,input[text],textarea,button{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --navColor: darkslategrey;
    --navBackground: #D7DBDD;
    --barColor: #34495E;
    --greetingTextColor:rgb(248, 63, 100);
    --nameTextColor:#34495E;
}

/* -----------Navbar ------------------------------------------*/
.menu-bars{
    z-index: 12;
    position: fixed;
    top: 0.7rem;
    right: 1.3rem;
}
.menu-bars:hover{
   cursor: pointer;
}
.bar1, .bar2, .bar3{
    width: 2rem;
    height: 0.1rem;
    padding: 0.1rem;
    margin: 0.5rem 0rem;
    background-color: var(--barColor);
    transition: 0.4s;
}
.bar1-change{ transform: rotate(-45deg) translatey(1rem);}
.bar2-change{ opacity: 0;}
.bar3-change{ transform: rotate(45deg) translatey(-1rem);}

.nav-container{
    width: 100%;
    height: 100vh;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    background:lightgrey;
    opacity: 0.90;
    transform: translatey(-100vh);
}

nav{
    min-height: 100%;
    background: var(--navBackground);
    display: grid;
    place-items: center;
}

.nav-container-slide-bottom{
    transition: all 0.5s ease-in-out;
    transform: translatey(0);
}

.nav-container-slide-top{
    transition: all 0.2s ease-in-out;
    transform: translatey(-100vh);
}

.nav-links-container{
    display: flex;
    flex-direction: column;
}

.nav-links-container > a{
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 2.5rem;
    margin: 1rem 0rem;
    color:var(--navColor);
    transition: 0.2s ease;
}
.nav-links-container > a:hover{
    transform: scale(1.05);
}
.nav-social-container{
    min-width: 150px;
    display: flex;
    justify-content: space-evenly;
}

.nav-social-container > a{
    color:var(--navColor);
}
.nav-social-container > a:hover{
    transform: scale(1.1);
}

/* --------Individuals Sections Start here --------------------*/

section{
    width: 100%;
    /* height: 100vh; */
    background: whitesmoke;
}

/*----------- Home Section------------------------------------- */
.intro-section{
    width: 100%;
    height: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.intro-section span{
    display: inline-block;
    opacity: 0;
    transition: all 0.6s ease;
    transform: translatey(50px);
}

.intro-section span.fade {
    opacity: 1;
    transform: translate(0px);
}
.greeting-text{
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--greetingTextColor);
    opacity: 0;
    transition: all 2s ease;
    transform: translatey(-3rem);
}
.name-text{
    transform: translatey(-70% );
    font-size: 5rem ;
    font-weight: 200;
    color: var(--nameTextColor);
    opacity: 0;                         /* changed on javascript */
}

.description-text{
    transform: translatey(-3rem)
}

/*------- Project Section -----------------*/
.project-section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-container{
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.project-item{
    width: 100%;
    max-width: 400px;
    margin: 25px;
    background: white;
    border-radius: 5px;
    box-shadow: 2px 5px 30px 10px  rgba(0,0,0, 0.1);
    transform: translateY(40%);
    transition: transform 0.5s ease;
    opacity: 0;
    position: relative;
}
.project-item-active{
    opacity: 1;
    transform: translateY(0%);
}

.project-info{
    padding: 5px;
    margin-bottom: 15px;
}

.project-thumbnail{
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius:5px 5px 0px 0px;
}
.project-links{
    position: absolute;
    bottom: 2px;
    left: 2px;
    margin-left: 2px;
}
.project-link{
    padding: 0px 3px;
}
.project-link:hover{
    opacity: 0.8;
    transform: scale(1.2);
}


/* ---------About section ---------------------*/
.about-section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-wrapper{
    width: 100%;
    max-width: 1100px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.about-inner{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------contact section---------------------- */
.contact-container{
    height: 100vh;
}


/* -----------Media queries---------------------------- */
@media only screen and (max-width:600px){
    .nav-links-container > a{
        font-size: 2rem;
    }
    .name-text{
        font-size:2.8rem;
    }

    .project-item{
        margin: 25px 5px;
    }
    .about-wrapper{
        flex-direction: column;
    }

    .about-img{
        width: 80%;
        object-fit: contain;
        margin: 10px 10px;
    }
}

@media only screen and (max-width:450px){
    .menu-bars{
        right: 1.5rem;
    }
    /* .bar1, .bar2, .bar3{
        width: 1.5rem;
    } */
}

