* {
  font-family: monospace;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 5vh 10vw;
  color: #121314;
  background-color: #f5f5f5;
}

h1 {
  font-size: 50px;
  margin-bottom: 16px;
}

h2 {
  font-size: 32px;
  margin-bottom: 16px;
}

p {
  font-size: 16px;
  margin-bottom: 16px;
  max-width: 600px;
}

a {
  color: #121314;
}